.p-menu
   display: flex;
   flex-direction: row;
   height: calc(100vh - 60px);

.p-menu__tabs
   width: calc(100% - 300px);
   padding: 10px;
.p-menu__cards
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;

   .el-card
      cursor: pointer;
      width: 32%;
      margin-bottom: 10px;
      &:hover
         background: #F2F6FC;

      >>>
         .el-card__body
            display: flex;
            flex-direction: column;
            padding: 0;
            height: 100%;

.p-menu__card-image-content
   height: 100px;
   overflow: hidden;

.p-menu__card-image
   max-height: 100%;

.p-menu__card-description
   padding: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-end;
   flex-grow: 50;

.p-menu__card-description-title
   text-align: left;
   width: 100%;
   margin-bottom: 10px;
   font-size: 14px;

.p-menu__card-description-price
   color: #409EFF;

.p-menu__cart
   width: 300px;
   border-left: 1px solid #e4e7ed;
   padding: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   overflow-y: auto;
   .el-table 
      >>>
         .cell
            padding: 0 5px;

         .p-menu__cart-number
            text-align: center;

         .p-menu__cart-price
            text-align: right;

.p-menu__cart-title
   line-height: 40px;
   padding: 0 5px;
   
.p-menu__cart-name
   color: #409eff;
   font-weight: bold;

.p-menu__cart-item
   display: flex;
   flex-direction: row;

.p-menu__cart-item-img-content
   // width: 70px;
   margin-right: 10px;
   flex-basis: 50px;

.p-menu__cart-item-img
   max-width: 100%;

.p-menu__cart-item-name
   flex-basis: 100px;
   word-break: break-word;
   line-height: 16px;
   font-size: 14px;

.p-menu__cart-total
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 20px 5px;
   font-size: 18px;

.p-menu__cart-total-price
   color: #409EFF;

.p-menu__back
   margin-right: 10px;
