.s-menu   
   .s-menu__avatar
      img.s-menu__avatar-image(src="@/assets/naruto.png")
      .s-menu__avatar-detail
         .s-menu__avatar-name Victor Morales
         .s-menu__avatar-role Administrador
   el-menu.el-menu-vertical-demo(:default-active='$route.name', router)
      el-menu-item(index='OrderCustomer' :route="{name: 'OrderCustomer'}")
         i.el-icon-edit-outline
         span Registrar Orden
      el-menu-item(index='ListarOrdenes' :route="{name: 'ListarOrdenes'}")
         i.el-icon-tickets
         span Listar Ordenes
