.menu__cards
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .el-card
        cursor: pointer;
        width: 24%;

        >>>
            .el-card__body
                display: flex;
                flex-direction: column;
                padding: 0;
                height: 100%;

.menu__card-image
    max-width: 100%;

.menu__card-description
    padding: 15px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-grow: 50;

.menu__card-description-title
    text-align: left;

.menu__card-description-price
    color: #409EFF;
    min-width: 70px;