.p-list-order
   height: calc(100vh - 60px);
   overflow-y: auto;
   padding: 15px;

.p-list-order__cart
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;

   .el-table 
      >>>
         .p-list-order__cart-number
            text-align: center;

         .p-list-order__cart-price
            text-align: right;

.p-list-order__cart-title
   line-height: 40px;
   padding: 0 5px;
   text-align: left ;
   
.p-list-order__cart-name
   color: #409eff;
   font-weight: bold;

.p-list-order__cart-item
   display: flex;
   flex-direction: row;

.p-list-order__cart-item-img-content
   margin-right: 10px;
   flex-basis: 50px;

.p-list-order__cart-item-img
   max-width: 100%;

.p-list-order__cart-item-name
   flex-basis: 100px;
   word-break: break-word;
   line-height: 16px;
   font-size: 14px;

.p-list-order__cart-total
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   padding: 20px 5px;
   font-size: 18px;

.p-list-order__cart-total-price
   color: #409EFF;
   min-width: 100px;
   text-align: right;
